langchain
langchain-community
langchain-ollama
langchain-groq
langchain-google-vertexai
langchain-google-genai
langchain-openrouter
langchain-text-splitters
langchain-experimental
langchain-cohere
langchain-core
langgraph
loguru
faiss-cpu
transformers
python-dotenv
langsmith
datasets
ragas
pandas
pydantic
matplotlib
seaborn
streamlit
pypdf