langchain
langchain-community
langchain-ollama
langchain-groq
langchain-google-vertexai
langchain-google-genai
langchain-openrouter
langchain-text-splitters
langchain-experimental
langchain-core
faiss-cpu
transformers
python-dotenv
langsmith
datasets
ragas
pandas
matplotlib
seaborn
streamlit